<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Shipping Co - Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h5>Enter the dimensions of your package</h5>
      <form action="/parcels" method="post">
        <label for="length">Length: </label>
        <input id="length" name="length" type="number"><br>
        <label for="width">Width: </label>
        <input id="width" name="width" type="number"><br>
        <label for="height">Height: </label>
        <input id="height" name="height" type="number"><br>
        <label for="weight">Weight: </label>
        <input id="weight" name="weight" type="number"><br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>